{% extends "base.html" %}
{% block title %}Inventory Report{% endblock %}
{% block content %}
    <div class="row mt-4">
        <div class="col col-md-8 offset-md-2 alert alert-primary text-black text-center">
            <span class="h3">Estudantes</span>
        </div>
    </div>
    {% for student in Students %}
    <div class="row">
        <div class="col col-md-8 offset-md-2">
            <div class="row flex-row align-items-center border-bottom">
                <span class="col col-10"><em>{{ student.nome }}</em></span>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row mt-4">
        <div class="col col-md-8 offset-md-2 alert alert-primary text-black text-center">
            <span class="h3">Professores</span>
        </div>
    </div>
    {% for guardian in Guardians %}
    <div class="row">
        <div class="col col-md-8 offset-md-2">
            <div class="row flex-row align-items-center border-bottom">
                <span class="col col-10"><em>{{ guardian.nome }}</em></span>
                <span class="col col-10"><em>{{ guardian.email }}</em></span>
                <span class="col col-10"><em>{{ guardian.cpf }}</em></span>
                <span class="col col-10"><em>{{ guardian.rg }}</em></span>
                <span class="col col-10"><em>{{ guardian.telefone }}</em></span>
                <span class="col col-10"><em>{{ guardian.Data_de_nascimento }}</em></span>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}